body{
    margin: 0;
    padding: 0;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
.main{
    border: 1px solid black;
    padding: 20px;
    width: fit-content;
    display: flex;
    margin: 10px auto;
}
.icon{
    display: flex;
}
.subicon{
    display: flex;
    align-items: center;
    color: gray;
    font-size: small;
}
.post{
    margin-left: 20px;
}
.head{
    margin: 15px 0 10px 0;
}
.text{
    margin: 0 0 10px 0;
}
.i2, .i3{
    margin-left: 45px;
}